// Here you can add other styles
//Se sobreescribe el estilo para que en mobiles al clicar en el menu no se quedeoscurecida la pantalla.
.sidebar-backdrop {
  position: fixed;
  top: 0;
  z-index: 0 !important;
  width: 100vw;
  height: 100vh;
  background-color: white !important;
  transition: opacity 0.15s linear;
}
.multiselect-tag {
  background-color: gray !important;
  font-weight: normal !important;
}
.multiselect.is-active {
  box-shadow: 0px 0px 5px 2px gray !important;
}
.tooltip .tooltiptext {
  text-align: left !important;
}
